footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: white;
    text-align: center;
}

.col-md-4{
    padding: 20px;
    border-style: groove;
}

.img{
    max-width: 400px;
    width: 100%;
    object-fit: cover;
    height: 400px;
}

iframe{
    width: 100%;
}
form{
    padding: 20px;
    border-style:solid;
    border-width: 2px;
}